.uploadView{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:768px) {
        flex-direction: column;
    }
    &__content{
        display: flex;
    }
}