.trendingSmall{
    display: flex;
    flex-direction: row;

    &__picture{
        border-radius: 10px;
        height: 150px;
        width: 40%;
        background-size: contain;
        background-position: center;
        margin-bottom: 32px;
    }

    &__text{
        margin-left: 16px;

        &__title{
            font-weight: 700;
            margin-top: 8px;
            margin-bottom: 8px;
        }

    }

}

.likes{
    display: flex;
    flex-direction: row;

    &__icon{
        margin-right: 4px;
    }
}