.trendingSmall{
    display: flex;
    flex-direction: row;
    @media (max-width:768px) {
        flex-direction: column;
    }

    &__picture{
        border-radius: 10px;
        width: 40%;
        height: 200px;
        background-size: contain;
        background-position: center;
        margin-bottom: 32px;
        object-fit: cover;

        @media (max-width:768px) {
            width: 100%;
        }
    }

    &__text{
        margin-left: 16px;

        &__title{
            font-weight: 700;
            margin-top: 8px;
            margin-bottom: 8px;
        }

    }

}

.likes{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    &__icon{
        margin-right: 4px;
    }
}