

//COLOR PALETTE
$color-yellow:#F2AA01;
$color-green:#00BF4B;
$color-red:#EA0017;
$color-grey-dark:#656565;
$color-grey-medium-dark:#CFCFCF;
$color-grey-medium-light:#DFDFDF;
$color-grey-light:#F3F3F3;

