@import '../../style/variables.scss';

.recipeSide{
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    margin-top: 32px;
    margin-right: 32px;
    min-width: 300px;

    &__title{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 24px;
    }
    &__text{
        border-bottom: 1px solid $color-grey-medium-dark;
        padding-bottom: 4px;
        margin-bottom: 16px;
    }
}