@import '../../style/variables.scss';

.inputs{
    display: flex;
    flex-direction: column;
    flex:1;

    &__dropdowns{
        display: flex;
    }
    &__steps{
        display: flex;
    }
    &__basicInp{
        height: 40px;
        border: 2px solid #dbdbdb;
        border-radius: 6px;
        padding-left: 16px;
        font-size: 16px;
    }
    &__descriptionInp{
        height: 40px;
        border: 2px solid #dbdbdb;
        border-radius: 6px;
        padding-left: 16px;
        font-size: 16px;
    }
    &__dropInp{
        height: 40px;
        border: 2px solid #dbdbdb;
        border-radius: 6px;
    }
}

textarea, input::placeholder{
    //font-size: 16px;
    color: $color-grey-medium-light;
    border-color: $color-grey-medium-light;
}

input:focus { 
    border-color: $color-grey-dark;
    outline: none;
 }